{{> header}}
<link rel="stylesheet" href="./assets/css/cupon.css">

<body>
    <div class="contenedor">
        <div class="menu" id="menu">
            <ul>
                <li>
                    <img src="./assets/img/empresas/inicio.png" alt="">
                    <a href="/sistemaHome">Inicio</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/cupones.png" alt="">
                    <a href="/sistemaCupones">Cupones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/Donaciones.png" alt="">
                    <a href="/sistemaDonaciones">Donaciones</a>
                </li>
                <li>
                    <img src="./assets/img/empresas/logOut.png" alt="">
                    <a href="/">Salir</a>
                </li>
            </ul>
        </div>
        <div class="contenido" id="form-cupon">
            <button type="button" id="sidebarCollapse" class="btn" data-toggle="collapse">
                <span class="navbar-toggler-icon"><i class="fa fa-list" aria-hidden="true"></i></span>
            </button>


            {{!-- <h1 class="text-center mt-5" id="FC_TXT">Formulario Cupon</h1> --}}
            <div class="container text-center">
                <div class="jumbotron" style="background-color: white;">
                    <!-- FORMULARIO -->
                    <div id="CF">
                        <div class="card col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" id="FC">
                            <div class="card-body">

                                <div class="col-md-12 mb-3">
                                    <p class="text-center" id="agregarCuponT">Eliminar Cupon {{cupon.titulo_cupon}}</p>
                                </div>
                                <form enctype="multipart/form-data" action="/eliminarCupon:{{cupon._id}}" method="POST">

                                    <divclass="form-group col-md-12 mb-3">
                                        <a href="/sistemaCupones" class="btn btn-block btn-outline-success">Cancelar</a>
                                    </div>
                                    <div class="form-group col-md-12 mb-3">
                                        <button type="submit" class="btn btn-block btn-outline-danger">Eliminar</button>
                                    </div>
                                    
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <script src="./assets/js/fecha.js"></script>
    <script>
        document.getElementById('txtAreaDesc').value="{{cupon.decripcion}}";
        document.getElementById('txtAreaCond').value="{{cupon.condiciones}}";
        document.getElementById('tipo-cupon').value="{{cupon.tipo_cupon}}";
        document.getElementById('valido-persona').value="{{cupon.valido_persona}}";
    </script>

    {{> footer}}