{{>header}}
<link rel="stylesheet" href="./assets/css/cupones_style_system.css">
<link rel="stylesheet" href="./assets/css/TablesResponsive.css">


<body>
    {{>navbar}}


    <div id="bodcupon">
        <div id="cuponesTitulo">
            <span id="letrasCupones">CUPONES</span>
            <span id="LA1"></span>
            <span id="LA2"></span>
        </div>
        <section>
            <div id="CuponesMenu">
                <nav class="navbar navbar-expand-lg navbar-light ">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cuponMenu"
                        aria-controls="cuponMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="cuponMenu">
                        <div class="navbar-nav">
                            <ul>
                                <p id="cuponesDTXT">Cupones de descuento</p>
                                {{!-- <li>
                                    <hr />
                                    <a href="" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/MasUtilizados.png" alt="" />
                                        <span class="cupon">Cupones más utilizados</span></a>
                                </li> --}}
                                <hr />
                                <li>
                                    <a href="/CuponesEnviosGratis" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Envio Gratis.png" alt="" />
                                        <span class="cupon">Envío gratis</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="/NuevosCupones" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Nuevos.png" alt="" /><span class="cupon">Nuevos
                                            cupones</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="/CuponesEstudiantes" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Estudiantes.png" alt="" /><span
                                            class="cupon">Estudiantes</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="/UltimaOportunidad" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/UltimaOportunidad.png" alt="" />
                                        <span class="cupon">¡Ultima oportunidad!</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="/CuponesDescuentos" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Descuentos.png" alt="" /><span
                                            class="cupon">Descuentos</span></a>
                                </li>
                                <hr />
                                <li>
                                    <a href="/CuponesPromociones" style="text-decoration: none;" class="cuponA"><img
                                            src="./assets/img/icons/Promociones.png" alt="" /><span
                                            class="cupon">Promociones</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section id="cupons" class="mb-5">
            <div class="container">

                <div class="table-responsive-sm">
                    <table class="table" id="table_id">
                        <thead>
                        </thead>
                        <tbody>

                            {{#each cupones}}

                            <tr>
                                <td> <img id="image" src="./assets/uploads/{{this.imagen_cupon}}" alt="">
                                </td>
                                <td id="T">{{this.titulo_cupon}}</td>
                                <td id="D">{{this.decripcion}}</td>

                                <td id="boton"> <button type="button" class="btn btn-outline-info btn-block"
                                        data-toggle="modal" data-target="#miModal{{@key}}">
                                        Ver
                                    </button></td>
                            </tr>
                            <!-- MODAL -->


                            {{/each}}
                        </tbody>
                    </table>
                    {{#each cupones}}
                    <div class="modal fade" id="miModal{{@key}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="text-center"> &times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="contenedorImg">

                                        <img id="imgModal" class="img-responsive"
                                            src="./assets/uploads/{{this.imagen_cupon}}" alt="" />
                                    </div>
                                    <p id="tituloCupon">
                                        {{this.titulo_cupon}}
                                    </p>

                                    <p class="TxtMInf">
                                        Codigo:
                                        <button id="btnCopy" style="text-decoration: none;" type="button"
                                            class="btn btn-link">
                                            <b> <span id="text" class="codigo">{{this.codigo}}</span></b>
                                        </button>
                                    </p>
                                    <p class="TxtMInf">Compra minima: {{this.minimo_compra}}</p>
                                    <p class="TxtMInf">Condiciones: {{this.condiciones}}</p>
                                    <p class="TxtMInf">Valido para: {{this.valido_persona}}</p>
                                    <p class="TxtMInf">Tipo de cupón: {{this.tipo_cupon}}</p>
                                    <p class="TxtMInf">Descripcion: {{this.decripcion}}</p>
                                    <p class="TxtMInf">Fecha vencimiento {{this.fecha_final}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
            </div>

        </section>
    </div>



    {{>footer}}