{{!-- Donaciones pagina --}}
{{>header}}
<link rel="stylesheet" href="./assets/css/cupones_style_system.css">
<link rel="stylesheet" href="./assets/css/empresa_listado.css">
<link rel="stylesheet" href="./assets/css/TablesResponsive.css">
<link rel="stylesheet" href="./assets/css/donaciones_style.css">

<body>
    {{>navbar}}

    <div id="empresaTitulo">
        <span id="letrasCupones2">Donaci처n</span>
        <span id="LA1E"></span>
        <span id="LA2E"></span>
    </div>


    <div id="bodcupon">
        <div class="container marketing " id="s">
            <div class="row">
                {{#each donacion}}
                <div class="col-lg-4" id="dc">
                    <img id="" style="width: 200px; " class="mb-3" src="./assets/uploads/{{this.imagen}}" alt="">
                    <p id="TD" class="text-center">{{this.titulo_donacion}}</p>
                    <p>{{this.descripcion_donacion}}</p>
                    <p><button type="button" class="btn btn-outline-info mt-2 mb-5" data-toggle="modal"
                            data-target="#miModal{{@key}}">
                            Ver informaci처n..
                        </button></p>
                </div>
                {{/each}}



                {{!-- MODAL --}}
                {{#each donacion}}
                <div class="modal fade" id="miModal{{@key}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-center"> &times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="contenedorImg">

                                    <img id="" style="width: 200px;" class="img-responsive" src="./assets/uploads/{{this.imagen}}"
                                        alt="" />
                                </div>
                                <p id="tituloCupon">
                                    {{this.titulo_donacion}}
                                </p>
                                <p class="TxtMInf">
                                    N째 Cuenta:
                                    <button id="btnCopy" style="text-decoration: none;" type="button"
                                        class="btn btn-link">
                                        <b> <span id="text" class="codigo">{{this.cuenta_bancaria}}</span></b>
                                    </button>
                                </p>
                                <p class="TxtMInf">Banco: {{this.banco}}</p>
                                <p class="TxtMInf">Descripci처n: {{this.descripcion_donacion}}</p>
                                <p class="TxtMInf">Fecha final: {{this.fecha_final}}</p>
                                {{!-- <p class="TxtMInf">Empresa: {{this.empresa}}</p> --}}
                            </div>
                        </div>
                    </div>
                </div>

                {{/each}}
            </div>


        </div>



    </div>




</body>
{{> footer}}