{{>header}}
<link rel="stylesheet" href="./assets/css/cupones_style_system.css">
<link rel="stylesheet" href="./assets/css/empresa_listado.css">
<link rel="stylesheet" href="./assets/css/TablesResponsive.css">

{{!-- paginar --}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


<body>
    {{>navbar}}

    <div id="bodcupon">
        <div id="empresaTitulo">
            <span id="letrasCupones2">Empresa</span>
            <span id="LA1E"></span>
            <span id="LA2E"></span>
        </div>


        <section id="empresa" class="mb-5">
            <div class="container">

                <div class="table-responsive-sm">
                    <table class="table" id="table_id">
                        <thead>
                        </thead>
                        <tbody>

                            {{#each empresa}}

                            <tr>
                                <td> <img id="image" src="./assets/img/uber.png" alt=""> </td>
                                <td id="T">{{this.nombre_empresa}}</td>
                                <td id="D">{{this.descripcion_empresa}}</td>
                                <td id="TELE">
                                    <button id="btnCopy" style="text-decoration: none;" type="button"
                                        class="btn btn-link">
                                        <b> <span id="text" class="codigo">{{this.tel}}</span></b>
                                    </button>
                                </td>
                                <td id="boton"> <button type="button" class="btn btn-outline-info btn-block"
                                        data-toggle="modal" data-target="#miModal{{@key}}">
                                        Ver
                                    </button></td>
                            </tr>
                            <!-- MODAL -->


                            {{/each}}
                        </tbody>
                    </table>
                    {{#each empresa}}
                    <div class="modal fade" id="miModal{{@key}}" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="text-center"> &times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div id="contenedorImg">

                                        <img id="imgModal" class="img-responsive" src="./assets/img/uber.png" alt="" />
                                    </div>
                                    <p id="tituloCupon">
                                        {{this.nombre_empresa}}
                                    </p>

                                    <p class="TxtMInf">
                                        Telefono:
                                        <button id="btnCopy" style="text-decoration: none;" type="button"
                                            class="btn btn-link">
                                            <b> <span id="text" class="codigo">{{this.tel}}</span></b>
                                        </button>
                                    </p>
                                    <p class="TxtMInf">Descripción: {{this.descripcion_empresa}}</p>
                                    <p class="TxtMInf">calle: {{this.calle}} {{this.numero_dir}}</p>
                                    <p class="TxtMInf">CP:{{this.cp}}</p>
                                    <p class="TxtMInf">Estado: {{this.estado}}</p>
                                    <p class="TxtMInf">Municipio: {{this.municipio}}</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
            </div>

        </section>
    </div>
    </div>


    {{>footer}}