{{> header}}
<link rel="stylesheet" href="./assets/css/administrador.css">
<link rel="stylesheet" href="./assets/css/tableUca.css">

<body>

    <div class="contenedor">
        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#">UCA Admin</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <img src="./assets/img/admin/inicio.png" alt="">

                            <a class="nav-link" href="/administrador-home"> Inicio <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <img src="./assets/img/admin/Empresas.png" alt="">

                            <a class="nav-link" href="/lista-empresa">Empresas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Consultorias y
                                Capacitaciones</a>
                        </li>
                        <li>
                            <img src="./assets/img/empresas/logOut.png" alt="">
                            <a href="/">Salir</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="contenido">
            <div class="titulo">
                <h1>Listado de Empresas</h1>
            </div>
            <div class="tipo">
                <div class="btn-group" role="group" aria-label="Basic example">

                    <button type="button" class="btn btn-outline-danger"><a href="/lista-empresa">Inactivas</a></button>

                    <button type="button" class="btn btn-outline-success"><a
                            href="/lista-empresa-activas">Activas</a></button>
                </div>
            </div>
            <div class="tabla">
                <table class="table table-striped table-responsive-sm">
                    <thead>
                        <tr>
                            <th>Empresa</th>
                            <th>Titular</th>
                            <th>Correo Electronico</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each empresa}}
                        <tr>
                            <td>{{this.nombre_empresa}}</td>
                            <td>{{this.nombre_completo}}</td>
                            <td>{{this.correo}}</td>
                            <th scope="row"><a href="/activarEmpresa:{{this._id}}"><img style="width: 30px;"
                                        src="./assets/img/admin/success.png" alt=""></a>
                                <a href="/activarEmpresa:{{this._id}}"><img style="width: 30px;"
                                        src="./assets/img/admin/delate.png" alt=""></a>
                                <a href="/actualizarEmpresa:{{this._id}}"><img style="width: 30px;"
                                        src="./assets/img/admin/edit.png" alt=""></a></th>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script src="./assets/js/tableUca.js"></script>

{{>footer}}